body {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
		sans-serif;
	font-size: 16px;
}
.banner {
	background-color: cornflowerblue;
}
.logo {
	font-size: 35px;
}
.note {
	position: absolute;
	top: 83%;
}
.descript {
	font-size: 23px;
	font-weight: bold;
}
.books {
	float: left;
}
.btn-danger,
.btn-primary {
	font-size: 15px;
}
.card-title {
	font-weight: bold;
}
#text {
	line-height: 1.5;
}
